{% assign achievements = site.data.achievements %}
{% if achievements %}
<section class="section achievements-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-star fa-stack-1x fa-inverse"></i>
    </span>
    دستاوردها
  </h2>

  {% if achievements.intro %}
  <div class="intro">
      <p>{{ achievements.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for achievement in achievements reversed %}
  <div class="item content">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ achievement.title }}</h3>
      </div><!--//upper-row-->
      <div class="company">
        {% if achievement.link %}
          <a href="{{ achievement.link }}">{{ achievement.from }}</a>
        {% else %}
          {{ achievement.from }}
        {% endif %}

      </div>

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
