@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        margin-bottom: 100px;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }
    .project-tagline {
        display: none;
    }

    .skillset  {
        -webkit-print-color-adjust: exact; 
        .level-bar {
            width: 60%;
            background-color: grey !important;
        }
        .level-bar-inner{
            width: 60%;
            background-color: black !important;
        }
    }

}
